{% extends "base.html" %}

{% block title %}
Калькулятор Сна
{% endblock %}

{% block body %}
<div class="container">
    <h1>Калькулятор Сна</h1>
    <center>
        <link href="/style.css" type="text/css" rel="stylesheet">
        <div class="script-place" wfd-id="67">
            <form method="POST" wfd-id="68">
                <div class="row" wfd-id="92">
                    <div class="col-md-6 col-sm-12" wfd-id="101">  <!-- Блок 1 -->
                        <div class="row" wfd-id="105"> <!-- Заголовок Блока 1 -->
                            <div class="col-12" wfd-id="106">
                                <div class="set_alarm-title set_alarm-subtitle" wfd-id="107">
                                    <span wfd-id="108">Хочу проснуться в это время:</span>
                                </div>
                                <!-- end set_alarm-title -->
                            </div>
                            <!-- end col-12 -->
                        </div>
                        <!-- end row --><!-- Конец заголовок Блока 1 -->
                        <div class="set_time set_wakeup" wfd-id="103">
                            <form action="#" class="set_time-form" wfd-id="104">
                                <fieldset>
                                    <input type="time" value="00:00" id="wakeCalcClock" autofocus="" wfd-id="135">
                                </fieldset>
                                <fieldset>
                                    <input type="submit" value="Рассчитать" class="btn btn-primary btn-lg" id="wakeCalc"
                                           hrev="projects/cal_sleep/result" wfd-id="134">
                                </fieldset>
                            </form>
                        </div>
                        <!-- end set_time -->
                        <div class="set_time-text set_time-text--wake" wfd-id="102">
                            <!-- Результаты расчета -->
                            <p>Для комфортного пробуждения вам нужно заснуть в такое время:</p>
                            <span class="time wakeTime"></span>
                            <span class="time wakeTime"></span>
                            <span class="time wakeTime"></span>
                            <span class="time wakeTime"></span>
                            <span class="time wakeTime"></span>
                            <span class="time wakeTime"></span>
                        </div>
                    </div>
                    <!-- end col-md-6 -->
                    <div class="col-md-6 col-sm-12" wfd-id="93">  <!-- Блок 2 -->
                        <div class="row" wfd-id="97"> <!-- Заголовок Блока 2 -->
                            <div class="col-12" wfd-id="98">
                                <div class="set_alarm-title set_alarm-subtitle" wfd-id="99">
                                    <span wfd-id="100">Хочу лечь в это время:</span>
                                </div>
                                <!-- end set_alarm-title -->
                            </div>
                            <!-- end col-12 -->
                        </div>
                        <!-- end row --><!-- Конец заголовок Блока 2 -->
                        <div class="set_time set_sleep" wfd-id="95">
                            <form action="#" class="set_time-form" wfd-id="96">
                                <fieldset>
                                    <input type="time" value="00:00" id="sleepCalcClock" autofocus="" wfd-id="133">
                                </fieldset>
                                <fieldset>
                                    <input type="submit" value="Рассчитать" class="btn btn-primary btn-lg"
                                           hrev="projects/cal_sleep/result" id="sleepCalc" wfd-id="132">
                                </fieldset>
                            </form>
                        </div>
                        <!-- end set_time -->
                        <div class="set_time-text set_time-text--sleep" wfd-id="94">
                            <p>При заданном времени отхода ко сну будет комфортным пробуждение в такое время:</p>
                            <span class="time sleepTime"></span>
                            <span class="time sleepTime"></span>
                            <span class="time sleepTime"></span>
                            <span class="time sleepTime"></span>
                            <span class="time sleepTime"></span>
                            <span class="time sleepTime"></span>
                        </div>
                        {{val1}}
                        {{val2}}
                    </div>
                    <!-- col-md-6 -->
                </div>
            </form>
        </div>
    </center>
    <h2>Как работает калькулятор сна?</h2>
    <p>Когда человек засыпает, он проходит несколько циклов из поочередно чередующихся медленной и быстрой фаз сна. Если
        вы проснетесь в период медленной фазы, то будете ощущать тяжесть, разбитость и усталость. Вам будет сложнее
        пробудиться и встать с кровати, чего не произойдет, если проснуться в конце «быстрой фазы». Вот почему так важно
        просыпаться в правильное время.</p>
    <p>В калькуляторе сна онлайн учитывается продолжительность циклов сна, которые длятся в среднем 90 минут. Вам
        необходимо указать время, когда вы намерены лечь спать, а мы дадим вам ответ на вопрос, когда лучше подняться
        утром, чтобы чувствовать себя полноценно отдохнувшим. Калькулятор учитывает и время на засыпание, потому вам не
        нужно добавлять его к графику пробуждения. Мы уже сделали это за вас.</p>
    <p></p>
</div>
{% endblock %}