{% extends "base.html" %}

{% block title %}
Проекты разработанные нашей командой
{% endblock %}

{% block body %}
<div class="container">
    <h1>Наши проекты</h1>
    <div class="col" wfd-id="43">
        <div class="card mb-4 rounded-3 shadow-sm" wfd-id="44">
          <div class="card-header py-3" wfd-id="51">
            <h4 class="my-0 fw-normal">Калькулятор сна</h4>
          </div>
          <div class="card-body" wfd-id="45">
            <ul class="list-unstyled mt-3 mb-4" wfd-id="46">
                <p>Автор:</p>
              <li wfd-id="50">Каждый человек с самого детства знает, что он должен спать, по крайней мере, восемь часов. Только в этом случае удаётся гарантировать идеальные условия для восстановления сил после тяжелого дня и полноценного проведения следующего. Однако каким должен быть полезный сон? Сколько нужно спать, чтобы высыпаться и успешно восстанавливать силы за ночь? Наш онлайн калькулятор сна поможет вам узнать эту заветную цифру, которая рассчитывается на среднестатистической продолжительности фаз сна.d</li>
            </ul>
              <a class="w-100 btn btn-lg btn-outline-primary" href="/projects/cal_sleep">Воспользоваться калькулятором</a>
          </div>
        </div>
      </div>
    <div class="col" wfd-id="43">
        <div class="card mb-4 rounded-3 shadow-sm" wfd-id="44">
          <div class="card-header py-3" wfd-id="51">
            <h4 class="my-0 fw-normal">Калькулятор калорий</h4>
          </div>
          <div class="card-body" wfd-id="45">
            <ul class="list-unstyled mt-3 mb-4" wfd-id="46">
                <p>Автор:</p>
              <li wfd-id="50">Чтобы эффективно сбрасывать или поддерживать вес, важно знать, сколько калорий в день тратит ваш организм.</li>
            </ul>
              <a class="w-100 btn btn-lg btn-outline-primary" href="/projects/cal_sleep">Воспользоваться калькулятором</a>
          </div>
        </div>
      </div>
</div>
{% endblock %}