{% extends "base.html" %}

{% block title %}
Команда проекта
{% endblock %}

{% block body %}
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
</svg>

<div class="container py-3" wfd-id="0">
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" wfd-id="24">
            <div class="col" wfd-id="43">
                <div class="card mb-4 rounded-3 shadow-sm" wfd-id="44">
                    <div class="card-header py-3" wfd-id="51">
                        <h4 class="my-0 fw-normal">Семёнов Павел</h4>
                    </div>
                    <div class="card-body" wfd-id="45">
                        <ul class="list-unstyled mt-3 mb-4" wfd-id="46">
                            <li wfd-id="50">Пока не придумал что написать про себя
                            мультиссылка на мои соц.сети:
                                https://clck.ru/Tyu5x </p>
                            Если хотите связаться со мной пишите на почту:dpfyl@mail.ru
                            </li>
                            <img alt="" src="https://ic.wampi.ru/2021/04/27/1624_oooo.plus389ed2fcae6fedac.png" style="height:180px; width:150px" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" wfd-id="34">
                <div class="card mb-4 rounded-3 shadow-sm" wfd-id="35">
                    <div class="card-header py-3" wfd-id="42">
                        <h4 class="my-0 fw-normal">Газинская Валерия</h4>
                    </div>
                    <div class="card-body" wfd-id="36">
                        <ul class="list-unstyled mt-3 mb-4" wfd-id="37">
                            <li wfd-id="41">Меня зовут Валерия. Просто Лерка, для какого-то Ларек. Моя группа:
                                https://vk.com/babyeel слушайте и наслаждайтесь каверами. Моя страница в Вк:
                                https://vk.com/babyel1
                                Тикток: https://vm.tiktok.com/ZSJBuT2ad/ 😈
                                На сайте выложен мой бот калькулятор сна в
                                телеграме
                            </li>
                            <img src="https://ic.wampi.ru/2021/04/27/71_oooo.plus.png" alt="71 oooo.plus" style="height:180px; width:150px" >
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}

