<<!doctype html>
<html lang="ru" style="">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?семья=Монтсеррат:итал,wght@0,600;1,400&display=swap" rel="таблица стилей">
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title%}{% endblock%}</title>
</head>
<body style="background: #5f2c82;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<div  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm "
     wfd-id="49">
    <h5 class="my-0 mr-md-auto font-weight-normal " style="color: #fff; font-weight: 900; font-family: 'Montserrat', sans-serif;">DPFYL Company</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="   text-white" style="font-family: 'Montserrat', sans-serif; font-weight: 700;" href="/">Главная страница</a>
        <a class="p-2 text-white" style="font-family: 'Montserrat', sans-serif; font-weight: 700;" href="/about">О нас</a>
		<a class="p-2 text-white" style="font-family: 'Montserrat', sans-serif; font-weight: 700;" href="/posts">Все статьи</a>
        <a class="p-2 text-white" style="font-family: 'Montserrat', sans-serif; font-weight: 700;" href="/projects">Проекты</a>
        <a class="p-2 text-white" style="font-family: 'Montserrat', sans-serif; font-weight: 700;" href="/game">Игры</a>
        <a class="btn btn-warning" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color" href="/create-article">Создание статьи</a>
    </nav>
    <a class="btn btn-outline-primary" href="https://www.donationalerts.com/r/DPFYL_Company">Donut</a>
</div>
{% block body%}{% endblock%}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row" wfd-id="2">
      <div class="col-12 col-md" wfd-id="22">
        <small class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;"">© 2021</small>
          <p><img src="https://ic.wampi.ru/2021/04/28/1-1.png" width="100" height="111" alt=""></p>
      </div>
      <div class="col-6 col-md" wfd-id="6">
        <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 900; color: #fff">Меню</h5>
        <ul class="list-unstyled text-small" wfd-id="15">
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/"></a></li>
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/">Главная страница</a></li>
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/about">О нас</a></li>
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/posts">Новости</a></li>
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/projects">Проекты</a></li>
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/game">Игры</a></li>
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="https://www.donationalerts.com/r/DPFYL_Company">Поддержать проект</a></li>
        </ul>
      </div>
      <div class="col-6 col-md" wfd-id="8">
        <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 900; color: #fff">Связь</h5>
        <ul class="list-unstyled text-small" wfd-id="9">
            <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="mailto:dpfyl@mail.ru">Почта</a></li>
            <li wfd-id="3"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="http://clck.ru/UYhvZ">Telegram администратора</a></li>
        </ul>
      </div>
      <div class="col-6 col-md" wfd-id="14">
            <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 900; color: #fff">О компании</h5>
            <ul class="list-unstyled text-small" wfd-id="2">
                <li wfd-id="4"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="/team">Команда</a></li>
                <li wfd-id="3"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="https://twitter.com/elonmusk">Спонсор проекта</a></li>
                <li wfd-id="3"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="https://t.me/dpfyl">Канал проекта в telegram</a></li>
                <li wfd-id="3"><a class="" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #fff;" href="https://vk.com/public204272638">Группа проекта в ВК</a></li>
            </ul>
        </div>
    </div>
  </footer>
</body>
</html>
